<!DOCTYPE html>
<head>
<title> Hongying's Activities </title>
</head>

<!-- begin top link bar-->
<div align="center">
<p>
<b>
[
<a href="http://hongying.github.io/index.html">
Home</a>
 | 
<a href="http://hongying.github.io/templates/interests.html">
Research</a>
 | 
<a href="http://hongying.github.io/templates/papers.html">
Publications</a>
 | 
Activities
 ]
</b>
</p>
<hr/>
</div>

<div align="center">
<table>

<td width="20%"></td>
<td width="40%">
<h2 align="center">Personal Projects</h2>
<ul>
<li> <b>Charaspark</b>, 2015: A mobile app project which helps to spread the word of people who's doing good to our society. People could make a wish while donating to local charities and others could help them to fulfill the wish. Details could be found at <a href = "http://www.charaspark.com">http://www.charaspark.com</a>.
<li> <b>Petbook</b>, 2015: An open source mobile app project that helps pets or dogs to form a community like humans do, thus promoting the communication and health of the pets. The program is hosted on github: <a href="https://github.com/mzdu/petbook">https://github.com/mzdu/petbook</a>. Since the app was started in a coding competition which was originally in the organizer's git repo, we lost the contribution information after transferring it to our team's repo.
</ul>

<h2 align="center">Coding Competitions</h2>
<ul>
<li>2015 Sparc Hackathon 5, Charleston, SC
<li>2015 BattleHack, Raleigh, NC
<li>2015 DiamondHacks, Raleigh, NC			
<li>2014 USC's 1st Code-A-Thon, Columbia, SC
</ul>

<h2 align="center">Selected Awards, Honors, and Certificates</h2>
<ul>
<li> 2015 XSeries Big Data Certificate, edX
<li> 2009 -- 2013 State Scholarship by China Scholarship Council
<li> 2003, 2004, 2007 Outstanding Student of the University, First-class Scholarship
<li> 2002-2005 Elite Student Scholarship
</ul>

<h2 align="center">Review Activities</h2>
<ul>
<li> 2015 Reviewer for ACM Transactions on Intelligent Systems and Technology
<li> 2014 Reviewer for 1st International Workshop on Developing and Applying Agent Frameworks
<li> 2014 Reviewer for IEEE Transactions on Cybernetics
<li> 2013 Reviewer for IEEE Internet Computing 
<li> 2012, 2014 Reviewer for International Journal of Cooperative Information Systems 
</ul>

<h2 align="center">Hobbies</h2>
<ul>
<li>My most favourite hobbies are reading, tennis, and learning! 
</ul>

</td>
<td width="20%"></td>
</table>
</div>

</body>
</html>