<!DOCTYPE html>
<head>
<title> Hongying's Research Interests </title>
</head>

<!-- begin top link bar-->
<div align="center">
<p>
<b>
[
<a href="http://hongying.github.io/index.html">
Home</a>
 | 
Research
 | 
<a href="http://hongying.github.io/templates/papers.html">
Publications</a>
 | 
<a href="http://hongying.github.io/templates/activities.html">
Activities</a>
 ]
</b>
</p>
<hr/>
</div>

<h2 align="center">Research Interests</h2>
<p>My current interests includes, but not limited to: 

<ul>
<li>
<b>Multiagent System</b>: Many problems could be constructed as multiagent systems, which contains autonomous agents with computing abilities that help humans make decisions. Most of my work involved multiagents systems, but in different domains.  

<li>
<b>Norms</b>: Norms define the rules of interaction among principals in a multiagent system. I researched into problems such as how norms emerge, and ways to enforce norms.

<li>
<b>Human Factors</b>: Some of my work included experiments with human subjects, which aims to investigate the influence of humans' personality to humans' decisions or creativity.

<li>
<b>Social Computing, Big Data</b>: Computer and mobile technologies have promoted people's electronic interactions vastly, and also the high amount of data posted. How we could extract useful information from these data is a very interesting area.  
</ul>

Following are brief introductions of the past and ongoing projects that I've been worked on.  
</p>

<b>Postdoctoral Researcher, NC State University, 10/2014-Present</b>
<ul>
	<li>
	<b>Cyber Security Project</b> Designed and simulated a multiagent system to investigate how different sanctions influence the system's security performance and thus providing a guide to policy makers, using NetLogo.
	<br>
	<a href="http://hongying.github.io/resources/PilotInstructions.pdf">Pilot Study Instructions</a>
	
	<li>
	<b>Traffic Management Project</b> Participated in designing a simulation that investigates norm emergence in an open system-a traffic intersection, which utilizes an intersection manager agent and information sharing among car agents. 
	<br>
	
	<li>
	<b>Collective Intelligence Project</b> Participated in designing an experiment to investigate the relationship between an individual's personality and creativity using a collective intelligence tool. 
	<br>	
</ul>

<b>Research Assistant, Student, University of South Carolina, 8/2009-9/2014</b>
<ul>
	<li>
	<b>Human Factor Study</b> Developed an online cake-cutting game for human subjects to play and analyzed the relationship between humans' personalities and their behaviors in the game, using Java, Javascript, PHP, SQL. 
	<br>
	
	<li>
	<b>Healthcare System</b> Designed and implemented a societal healthcare system based on agent-oriented modeling, using NetLogo. The system was designed to help a patient to find a proper physician by utilizing the power of crowd sourcing, i.e., the knowledge about physicians from not only the patient, but also his friends, or even friends of his friends.
	<br>
	
	<li>
	<b>Grocery Shopping System</b> Developed a grocery shopping multiagent system using NetLogo. The system was used to find cost-effective shopping solutions for customers who has a shopping list, including which grocery stores to go and what to buy in each store.  
	<br>	
</ul>

<b>Research Assistant, Northwestern Polytechnical University, 3/2006-4/2009</b>
<ul>
	<li>
	<b>Image Recognition and Segmentation</b> Applied information fusion, specifically D-S evidence theory on image recognition, using MatLab, researched a segmentation algorithm: Meanshift, including its theory and application, and used some medical image related softwares, e.g., MRIcro.
	<br>
</ul>

</body>
</html>