<!DOCTYPE html>
<head>
<title> Hongying's Publications </title>
</head>

<!-- begin top link bar-->
<div align=center>
<p>
<b>
[
<a href="http://hongying.github.io/index.html>
Home</a>
 | 
<a href="http://hongying.github.io/templates/interests.html">
Research</a>
 | 
Publications
 | 
<a href="http://hongying.github.io/templates/activities.html">
Activities</a>
 ]
</b>
</p>
<hr/>
</div>
	<h2 align="center">Publications</h2>
	<ul>
		<li>
		Hongying Du, Bennett Narron, Nirav Ajmeri, Emily Berglund, Jon Doyle, Munindar P. Singh, ENGMAS - Understanding Sanction under Variable Observability in a Secure Environment, Proceedings of the 2nd International Workshop on Agents and CyberSecurity (ACySE), May 4-8, 2015, Istanbul, Turkey
		
		<li>
		Hongying Du, Bennett Narron, Nirav Ajmeri, Emily Berglund, Jon Doyle, Munindar P. Singh, Understanding Sanction under Variable Observability in a Secure, Collaborative Environment, Symposium and Bootcamp on the Science of Security (HotSoS), April 21-22, 2015, Urbana, IL, USA. 

		<li>
		Hongying Du, Michael N. Huhns, Determining the Effect of Personality Types on Human-Agent Interactions (short paper), The 2013 IEEE/WIC/ACM International Conference on Intelligent Agent Technology, Nov. 17-20, 2013, Atlanta, GA, USA.
		
		<li>
		Hongying Du, The Effects of Human Personality on Human-Agent Interactions (Doctoral Consortium), Proceedings of the 12th International Conference on Autonomous Agents and Multiagent Systems (AAMAS 2013), Ito, Jonker, Gini, and Shehory (eds.), May, 6-10, 2013, Saint Paul, Minnesota, USA.
		
		<li>
		John Tyler, Jon Pastor, Michael N. Huhns, Shad Kirmani, Hongying Du, Exposing, formalizing and reasoning over the latent semantics of tags in multimodal data sources, Applied Ontology 8(2): 2013, pp. 95-130.
		
		<li>
		Hongying Du, Kuldar Taveter, and Michael N. Huhns, Simulating a Societal Information System for Healthcare, Federated Conference on Computer Science and Information Systems (FedCSIS), 2012, pp. 1239-1246.
		
		<li>
		Kuldar Taveter, Hongying Du, and Michael N. Huhns, Method for Rapid Prototyping of Societal Information Systems, Federated Conference on Computer Science and Information Systems (FedCSIS), 2012, pp. 1221-1228.

		<li>
		Kuldar Taveter, Hongying Du, and Michael N. Huhns, Engineering Societal Information Systems by Agent-Oriented Modeling, Journal of Ambient Intelligence and Smart Environments (JAISE) 4(3), 2012, pp. 227-252.
		
		<li>
			Hongying Du and Michael N. Huhns, 
			<!-- <a href= ./resources/A Multiagent System Approach to Grocery Shopping.pdf>  -->
				A Multiagent System Approach to Grocery Shopping, Proc. 9th Practical Application of Agents and Multi-Agent Systems (PAAMS 2011), Salamanca, Spain, April 2011
			<!-- <a href= ./resources/DuCustomerStoreSimulationV9.nlogo>Grocery shopping simulation 1: with simulated data</a> <br>
			<a href= ./resources/DuCSSimulationWithRealData.nlogo>Grocery shopping simulation 2: with realistic data</a> <br>
			<a href= ./resources/goods.txt>For grocery shopping simulation 2: data file</a> <br>
			Since the simulation involves reading and writing files, which can't be done with the Server, you need to download files and run it.<br> -->			
		<li>
			Hongying Du, Lei Guo, 
			<!-- <a href= ./resources/Plane Sequence Image Recognition Based on Moment Invariant and D-S Evidence Theory.pdf> -->
			Plane Sequence Image Recognition Based on Moment Invariant and D-S Evidence Theory
			, Computer Simulation, vol. 27, no. 2, Feburary 2010
			
	</ul>


</body>
</html>