<!DOCTYPE html>
<head>
<title> Hongying's Homepage </title>
</head>

<!-- begin top link bar-->
<div align="center">
<p>
<b>
[
<a href="../index.html">
Home</a>
 | 
<a href="./templates/interests.html">
Research</a>
 | 
Publications
 | 
<a href="./templates/activities.html">
Activities</a>
 ]
</b>
</p>
<hr/>
</div>
	<ul>
		<li>
			Hongying Du and Michael N. Huhns, 
			<a href= "./resources/A Multiagent System Approach to Grocery Shopping.pdf"> 
				A Multiagent System Approach to Grocery Shopping</a>, Proc. 9th Practical Application of Agents and Multi-Agent Systems (PAAMS 2011), Salamanca, Spain, April 2011
				<br>
			<a href= "./resources/DuCustomerStoreSimulationV9.nlogo">Grocery shopping simulation 1: with simulated data</a> <br>
			<a href= "./resources/DuCSSimulationWithRealData.nlogo">Grocery shopping simulation 2: with realistic data</a> <br>
			<a href= "./resources/goods.txt">For grocery shopping simulation 2: data file</a> <br>
			Since the simulation involves reading and writing files, which can't be done with the Server, you need to download files and run it.<br>			
		<li>
			Hongying Du, Lei Guo, etc., 
			<a href= "./resources/Plane Sequence Image Recognition Based on Moment Invariant and D-S Evidence Theory.pdf">
			Plane Sequence Image Recognition Based on Moment Invariant and D-S Evidence Theory
		  </a>, Computer Simulation, vol. 27, no. 2, Feburary 2010
		  <br>
			
	</ul>


</body>
</html>